
html{
	background-image: url('../Background/1002.jpg');
	background-color:#082F4E;
	background-attachment: fixed;
	background-repeat:repeat-y;
	background-size: cover;
}
.follow{
	padding-left: 10%;
	padding-top: 1%;
	backface-visibility: hidden;
	background-blend-mode: color-dodge;	
}
#b1{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	float: right;
	position: relative;
	border-style: double;
}
#b{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: left;
	border-style: double;
	
}
#b2{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: right;
	border-style: double;
}

#b3{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	float: right;
	position: relative;
	border-style: double;
}
#b4{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: right;
	border-style: double;
}
#b:hover{
	transform: scale(1.5);
	color:gold;
}
#b1:hover{
	color:gold;
}
#b2:hover{
	color:gold;
}
#b3:hover{
	color:gold;
}
#b4:hover{
	color:gold;
}
.data{
	padding-top: 12.5%;
	padding-left: 33%;
	font-size: 30px;
	color:aliceblue;

	
	
}
