@charset "UTF-8";
html{
	background-image: url('../Background/600.jpg');
	background-color:#231E25;
	background-repeat: no-repeat;
	background-size: contain;
}
.follow{
	padding-left: 10%;
	padding-top: 1%;
	backface-visibility: hidden;
	background-blend-mode: color-dodge;	
}
#b1{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	float: right;
	position: relative;
	border-style: double;
}
#b{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	border-style: double;
	float: left;
	
}
#b2{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: right;
	border-style: double;
}

#b3{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	float: right;
	position: relative;
	border-style: double;
}
#b:hover{
	transform: scale(1.5);
	color:gold;
}
#b1:hover{
	color:gold;
}
#b2:hover{
	color:gold;
}
#b3:hover{
	color:gold;
}
#b4:hover{
	color:gold;
}
#b4{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: right;
	border-style: double;
}
.data{
	padding-left: 100px;
	padding-top: 100px;
	font-size:20px;
	color:aliceblue;
}


