html{
  
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-color:#160A0D;
}
.head11
{
		
	padding-left: 2%;
	padding-top: 5% ;
  	color : #FFFFFF;
	text-align-last: center;
	text-align: center;
	font-size: 40px;
}
#b1{
	background: transparent;
	font-size: 30px;
	color: #FEFEFE;
	border-style: none;
	float: right;
	position: relative;
}
#b2{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	border-style: none;
	float: right;
	position: relative;
}
#b3{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	border-style: none;
	float: right;
	position: relative;
}
#b4{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	border-style: none;
	float: right;
	position: relative;
}
#b1:hover{
	color:gold;
}
#b2:hover{
	color:gold;
}
#b3:hover{
	color:gold;
}
#b4:hover{
	color:gold;
}
#head222{
	color:gold;
	font-size: 50px;
}
#head222:hover{
	transform: scale3d(1.5);
}

