@charset "utf-8";

html{
	background-color: #0A1C1E;
	background-repeat: no-repeat;
	background-size: 100% ;
	
}
#b1{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	float: right;
	position: relative;
	border-style: none;
}
#b{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: left;
	border-style: none;
	
}
#b2{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: right;
	border-style: none;
}

#b3{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	float: right;
	position: relative;
	border-style: none;
}
#b:hover{
	color:gold;
}
#b1:hover{
	color:gold;
}
#b2:hover{
	color:gold;
}
#b3:hover{
	color:gold;
}
#b4:hover{
	color:gold;
}
#b4{
	background: transparent;
	tab-size: 10px;
	font-size: 30px;
	color: #FEFEFE;
	position: relative;
	float: right;
	border-style: none;
}
.data{
	color: aliceblue;
	padding-top: 100px;
	padding-left: 50px;
	font-size: 20px;
}


