@charset "utf-8";
/* CSS Document */
*{
  box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body{
  margin:0;
  font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}

.header-content{
  z-index:2;
	align-items: center;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

.btn{
  background: #34b3a0;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section{
  padding: 20px 0;
}
.section-a{
	color:#225470;
	background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.section-b{
	background:#225470;
 

  color:#fff;
}
.section-c{
	background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);

  color:#225470;
}

.section-d{
	background:#225470;

  color:#FFF;
}

@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}
#fb:hover{
	transform: scale(1.3);
}
#twi:hover{
	transform: scale(1.3);
}
#mail:hover{
	transform: scale(1.3);
}
#Git:hover{
	transform: scale(1.3);
}#lin:hover{
	transform: scale(1.3);
}
#insta:hover{
	transform: scale(1.3);
}
#quo:hover{
	transform: scale(1.3);
}
