@charset "utf-8";
/* CSS Document */
*{
  box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body{
  margin:0;
  font-family:montserrat;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  color:white;
  align-self:center;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: inherit;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.v-header{
  height:100vh;
  display:flex;
  align-items:left;
  color:#fff;
}
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {   
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:left;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  font-size: 24px;
  line-height: 32px;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#3e3e3e;
  opacity:0.85;
}

.header-content{
  z-index: 2;
  align-items: left;
}

.header-content h1{
  font-size:56px;
  margin-bottom:0;
  line-height: 64px;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-left: 0rem;
  padding-bottom:2rem;
}
.section{
  padding: 20px 0;
}
.section-a{
  background:#ffffff;
  
}
.section-b{
background:#b1babf;
 background-image: url('22.jpg');
  background-size:auto;
 background-blend-mode:screen;
 background-position: inherit;
}
.section-c{
 background:#ffffff;
  
}
.section-d{
  background:#b1babf;
}
@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}
#fb:hover{
	transform: scale(1.3);
}
#twi:hover{
	transform: scale(1.3);
}
#mail:hover{
	transform: scale(1.3);
}
#Git:hover{
	transform: scale(1.3);
}#lin:hover{
	transform: scale(1.3);
}
#insta:hover{
	transform: scale(1.3);
}
#quo:hover{
	transform: scale(1.3);
}
.log{
  width:100px;
  height:100px;
}
